.orders {
  padding: 20px 80px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.orders__logo {
  margin-top: 30px;
  padding: 40px;
}

.orders > h2 {
  background-color: white;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-style: italic;
  justify-content: center;
}

.orders > h1 {
  margin-top: 30px;
  background-color: white;
  text-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.orders > h6 {
  margin: 5px;
  font-weight: 400;
  background-color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
